<nz-spin [nzSpinning]="loading">
    <form nz-form [formGroup]="form" (ngSubmit)="submit()" [nzLayout]="'vertical'" >            
        <div class="grid-cont">
            <div class="card__reference">
                <nz-card>
                        <div class="info__reference">
                            <h3>{{ 'orders.reference' | translate }} # <input class="input__reference" nz-input nzTooltipTrigger="focus" nzTooltipPlacement="topLeft" placeholder="Referencia" formControlName="reference" [readonly]="true" /></h3>
                            <div class="fz-16">
                                <span nz-icon nzType="calendar" [nzTheme]="'twotone'" [nzTwotoneColor]="'#3F87F5'"></span>
                                <span class="ml-3 text-muted">{{ date | date:'d/M/yy, h:mm a' }}</span>
                            </div>
                        </div>
                        <nz-divider nzType="horizontal"></nz-divider>
                        <!--  -->
                        <app-info-providers-order [form]="form"></app-info-providers-order>
                </nz-card>
            </div>
            <div class="card__payment">
                <app-detail-payment [form]="form" (submited)="submit()" [id]="id"></app-detail-payment>
            </div>
            <div class="card__observations">
                <app-observations-order [form]="form"></app-observations-order>
            </div>
            <!-- <div class="col-sm-9">
                <app-info-products-form [form]="form" [products]="products"></app-info-products-form>
                <app-list-products-form [form]="form" [products]="products"></app-list-products-form>
            </div> -->
        </div>
    </form>
</nz-spin>


<ng-template #pricePrefix>
    <span>$</span>
</ng-template>  