<form nz-form [formGroup]="form" (ngSubmit)="submit()" [nzLayout]="'vertical'" >
    <div class="row">
        <div class="col-12">
            <nz-form-item>
                <nz-form-label>{{ 'brand.code' | translate }}</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="{{ 'brand.code' | translate }}" formControlName="code" readonly="true">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-12">
            <nz-form-item>
                <nz-form-label>{{ 'users.name' | translate }}</nz-form-label>
                <nz-form-control>
                    <textarea nz-input placeholder="{{ 'users.name' | translate }}" [nzAutosize]="{ minRows: 2 }" formControlName="name"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary" [disabled]="!form.valid" nz-button nzType="primary" [nzLoading]="loading">{{ 'global.save' | translate }}</button>
                </nz-form-control>
            </nz-form-item>
        </div>    
    </div>
</form>