<nz-table #sortTable  [nzData]="expensesList" [nzLoading]="loading"
[nzShowPagination]="false" [nzFrontPagination]="false">
    <thead>
        <tr>
            <th *ngFor="let column of orderColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                {{ column.title }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of sortTable.data;  let i = index">
            <td>#{{item.id}}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.value | currency:'USD': 'symbol':'1.0-0'  }}</td>
            <td>{{ item.created_at | date:'d/M/yy, h:mm a' }}</td>
            <td class="text-md-right">
                <a class="m-r-5 btn-warning" nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="{{ 'global.edit' | translate }}" [routerLink]="['/', 'contabilidad', 'gastos','editar', item.id]" >
                    <span nz-icon nzType="edit" nzTheme="outline"></span>
                </a>
                <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="{{ 'global.delete' | translate }}" class="btn-delete" nz-popconfirm nzPopconfirmTitle="{{ 'global.deleteConfirm' | translate }}" [nzBeforeConfirm]="beforeConfirm"
                (nzOnConfirm)="confirm(item.id)" (nzOnCancel)="cancel()">
                    <i nz-icon nzType="delete" theme="outline"></i>
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>

