<nz-table #bailsListTable #sortTable [nzData]="bailsList" [nzLoading]="loading"
[nzShowPagination]="false" [nzFrontPagination]="false" >
    <thead>
        <tr>
            <th *ngFor="let column of orderColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{ column.title }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of bailsListTable.data;  let i=index">
            <td>#{{item.id}}</td>
            <td>
                {{ item?.price | currency:'USD': 'symbol':'1.0-0'  }}
            </td>
            <td>{{item?.payment_method?.name}}</td>
            <td>{{ item?.created_at | date:'d/M/yy, h:mm a' }}</td>
        </tr>
    </tbody>
</nz-table>