<app-cards-info-reports></app-cards-info-reports>

<div class="row">
    <div class="col-md-7 col-lg-8 col-12">
        <app-cards-top-products></app-cards-top-products>
    </div>
    <div class="col-lg-4 col-md-5 col-12">
        <app-cards-top-clients></app-cards-top-clients>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-md-7 col-12">
        <app-cards-recent-sales></app-cards-recent-sales>
    </div>
    <div class="col-lg-4 col-md-5 col-12">
        <app-cards-activity-list></app-cards-activity-list>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-12">
        <app-card-info-clients-debtors></app-card-info-clients-debtors>
    </div>
    <div class="col-md-6 col-12">
        <app-card-info-invoices></app-card-info-invoices>
    </div>
</div>