<app-categories-nav [tabs]="tabs"></app-categories-nav>

<nz-card>
    <div class="row m-b-30">
        <div class="col-lg-8">
            <div class="d-md-flex">
                <div class="m-b-10 m-r-20">
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" nz-input placeholder="Buscar Categoría" [(ngModel)]="searchInput" (ngModelChange)="search()">
                    </nz-input-group>      
                    <ng-template #prefixTemplate>
                        <i nz-icon nzType="search" class="opacity-05"></i>
                    </ng-template>   
                </div>
            </div>          
        </div>
        <div class="col-lg-4 text-right">
            <app-export-button class="mr-1" [path]="'/categories/exportExcel'" [type]="'excel'" [nameFile]="'Listado Categorias'"></app-export-button>
            <a nz-button nzType="primary" [routerLink]="['/','inventario','categorias','crear']">
                <i nz-icon nzType="plus-circle" theme="outline"></i>
                <span>{{ 'categories.add' | translate }}</span>
            </a>
        </div>
    </div>

    <app-list-categories [categoriesList]="categoriesList" [orderColumn]="orderColumn" [loading]="loading"></app-list-categories>
    <div class="row">
        <div class="col-12 mt-4 d-flex justify-content-end">
            <nz-pagination class="pagination" nzShowSizeChanger nzShowQuickJumper [nzResponsive]="true" [nzTotal]="totalItems" [(nzPageIndex)]="page" (nzPageSizeChange)="pageSizeChanged($event)" (nzPageIndexChange)="pageIndexChanged($event)">
            </nz-pagination>
        </div>
    </div>

</nz-card>