<form nz-form [formGroup]="changePWForm" (ngSubmit)="submitForm()" [nzLayout]="'vertical'">
    <div class="row">
        <div class="col-md-4" *ngIf="id">
            <nz-form-item>
                <nz-form-label nzFor="oldPassword">{{ 'users.oldPassword' | translate }}</nz-form-label>
                <nz-form-control [nzErrorTip]="errorsPassword">
                    <input formControlName="oldPassword" nz-input type="password" placeholder="{{ 'users.oldPassword' | translate }}" [required]="id" (change)="onChangePassword($event.target.value)">
                </nz-form-control>
            </nz-form-item>
        </div>    
        <div class="col-md-4">
                <nz-form-item>
                <nz-form-label nzFor="password">{{ 'users.newPassword' | translate }}</nz-form-label>
                <nz-form-control nzErrorTip="Compo requerido">
                    <input formControlName="password" nz-input type="password" placeholder="{{ 'users.newPassword' | translate }}">
                </nz-form-control>
            </nz-form-item>
        </div> 
        <div class="col-md-4">
            <nz-form-item>
                <nz-form-label nzFor="password_confirmation">{{ 'users.confirm' | translate }}</nz-form-label>
                <nz-form-control [nzErrorTip]="combineTpl">
                    <input type="password" formControlName="password_confirmation" nz-input  placeholder="{{ 'users.confirmPassword' | translate }}">
                </nz-form-control>
            </nz-form-item>
        </div>

        <ng-template #combineTpl let-control>
            <ng-container *ngIf="control.hasError('no-same')">Las contraseñas no coinciden</ng-container>
            <ng-container *ngIf="control.hasError('required')">Campo requerido</ng-container>
        </ng-template>

        <ng-template #errorsPassword let-control>
            <ng-container *ngIf="control.hasError('required')">Campo requerido</ng-container>
            <ng-container *ngIf="control.hasError('incorrect')">Contraseña incorrecta</ng-container>
        </ng-template>
        <div class="col-md-12 text-right">
            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary" [disabled]="!changePWForm.valid" [nzLoading]="loading">{{ 'users.changePassword' | translate }}</button>
                </nz-form-control>
            </nz-form-item>
        </div>    
    </div>
</form>