<nz-card>
    <div class="row m-b-30">
        <div class="col-md-12 col-xl-4">
            <div class="d-flex flex-wrap">
                <div class="m-b-10 m-r-10 w-xs-100 w-sm-50 ">
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" nz-input placeholder="Buscar Producto" [(ngModel)]="searchInput" (ngModelChange)="search()">
                    </nz-input-group>      
                    <ng-template #prefixTemplate>
                        <i nz-icon nzType="search" class="opacity-05"></i>
                    </ng-template>   
                </div>
            </div>          
        </div>
        <div class="col-md-12 col-xl-8 text-right justify-content-end">
            <button nz-button nzType="default" nz-tooltip nzTooltipTitle="{{ 'products.import' | translate }}" class="btn-success" (click)="openModalImport(footer)">
                <i nz-icon nzType="import" theme="outline"></i>
            </button>
            <app-export-button class="m-l-5" [path]="'/products/exportExcel'" [type]="'excel'" [nameFile]="'Listado Productos'"></app-export-button>
            <a nz-button nzType="primary" [routerLink]="['/','inventario','productos','crear']"  class="m-l-5">
                <i nz-icon nzType="plus-circle" theme="outline"></i>
                <span>{{ 'products.add' | translate }}</span>
            </a>
        </div>
        <div class="col-12">
            <nz-collapse nzGhost [nzBordered]="false">
                <nz-collapse-panel [nzHeader]="titleFilter" [nzActive]="false" >
                        <app-filters (filters)="onFilterChange($event)" [selectedStatus]="selectedStatus" [selectedCategory]="selectedCategory" [selectedSubcategory]="selectedSubcategory" ></app-filters>
                </nz-collapse-panel>
              </nz-collapse>
        </div>
    </div>

    <app-list-products [productsList]="productsList" [orderColumn]="orderColumn" [loading]="loading"></app-list-products>
    
    <div class="row">
        <div class="col-12 mt-4 d-flex justify-content-end">
            <nz-pagination class="pagination" nzShowSizeChanger nzShowQuickJumper [nzResponsive]="true" [nzTotal]="totalItems" [(nzPageIndex)]="page" (nzPageSizeChange)="pageSizeChanged($event)" (nzPageIndexChange)="pageIndexChanged($event)">
            </nz-pagination>
        </div>
    </div>
</nz-card>   

<ng-template #titleFilter>
    <div class="d-flex align-items-center justify-content-center">
        Filtros
        <span nz-icon nzType="filter" nzTheme="outline" class="ml-2"></span>
    </div>
</ng-template>

<ng-template #footer>

</ng-template>
