<nz-card>
    <div class="d-flex justify-content-between align-items-center">
        <h5>{{ 'dashboard.clientsDebtors' | translate }} </h5>
    </div>
    <div class="m-t-30">
        <nz-spin [nzSpinning]="loading">
            <nz-table #clientsListTable [nzData]="clientsList"  [nzShowPagination]="false" class="no-border-last">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>{{ 'dashboard.customers' | translate }}</th>
                        <th>{{ 'dashboard.numDebtors' | translate }} </th>
                        <th>{{ 'dashboard.totalDebtor' | translate }}</th>
                        <th width="60px"></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of clientsListTable.data" >
                        <tr>
                            <td>#00{{item.id}} </td>
                            <td nz-tooltip="Ver información del cliente" nzTooltipPlacement="right" class="cursor-pointer" [routerLink]="['/','contactos','clientes','editar', item.id]">
                                <div class="d-flex align-items-center">
                                    <nz-avatar
                                    [nzGap]="2"
                                    [ngStyle]="{ 'background-color': item.color}"
                                    [nzText]="item.shortName"
                                    nzSize="large"
                                    style="vertical-align: middle;"
                                    ></nz-avatar>
                                    <h6 class="m-l-10 m-b-0">  
                                        {{ item?.full_name }}
                                        <br>
                                        <span class="text-muted">
                                            {{ item.customer?.type_document?.prefix }} {{ item.document }}<br>
                                        </span>
                                    </h6>
                                </div>
                            </td>
                            <td>{{item?.sales_count | number}}</td>
                            <td>${{item?.sales_sum_total_salestotal_bails | number:'3.0'}}</td>
                            <td [nzExpand]="expandSet.has(item.id)" (nzExpandChange)="onExpandChange(item.id, $event)" nz-tooltip="Ver detalle"></td>
                        </tr>
                        <tr [nzExpand]="expandSet.has(item.id)">
                            <app-list-sales-clients [sales]="item.sales"></app-list-sales-clients>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
        </nz-spin>
    </div>
    <div class="col-12 mt-4 d-flex justify-content-end">
        <nz-pagination class="pagination" [nzResponsive]="true" [nzTotal]="totalItems" [(nzPageIndex)]="page" (nzPageSizeChange)="pageSizeChanged($event)" (nzPageIndexChange)="pageIndexChanged($event)">
        </nz-pagination>
    </div>
</nz-card>