<nz-card>
    <h3>{{ 'sales.productList' | translate }}</h3>
    <nz-table nzTemplateMode>
        <thead>
            <tr>
                <th>{{ 'products.reference' | translate }}</th>
                <th>{{ 'products.name' | translate }}</th>
                <th>{{ 'sales.amount' | translate }}</th>
                <th>{{ 'sales.unitValue' | translate }}</th>
                <th>{{ 'sales.subtotal' | translate }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let productsForm of products.controls; let indexProduct = index">
                <ng-container [formGroup]="productsForm">
                        <td>#{{ productsForm?.value?.reference }}</td>
                        <td>{{ productsForm?.value?.name }}</td>
                        <td style="vertical-align: middle;">
                            <nz-form-control>
                                <nz-input-group [nzErrorTip]="errorsPassword">
                                    <input nz-input placeholder="{{ 'sales.amount' | translate }}" type="number" formControlName="amount"(change)="onChangeAmount(indexProduct)" >
                                </nz-input-group>
                            </nz-form-control>
                        </td>
                        <td style="vertical-align: middle;"> 
                            <nz-form-control>
                                <nz-input-group [nzPrefix]="pricePrefix">
                                    <input nz-input placeholder="{{ 'sales.unitValue' | translate }}" type="text" formControlName="price" (ngModelChange)="onChangePrice()" currencyMask >
                                </nz-input-group>
                            </nz-form-control>
                        </td>
                        <td>{{ (productsForm?.value?.amount * productsForm?.value?.price) | currency:'USD': 'symbol':'1.0-0'  }}</td>
                        <td>
                            <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="{{ 'global.delete' | translate }}" class="btn-delete" nz-popconfirm nzPopconfirmTitle="{{ 'global.deleteConfirm' | translate }}" [nzBeforeConfirm]="beforeConfirm"
                            (nzOnConfirm)="confirm(indexProduct,productsForm?.value?.sale_id)" (nzOnCancel)="cancel()">
                                <i nz-icon nzType="delete" theme="outline"></i>
                            </button>
                        </td>
                </ng-container>
            </tr>
        </tbody>
      </nz-table>
</nz-card>

<ng-template #pricePrefix>
    <span>$</span>
</ng-template>  


<ng-template #errorsPassword let-control>
    <ng-container *ngIf="control.hasError('required')">Campo requerido</ng-container>
    <ng-container *ngIf="control.hasError('no-same')">No hay suficientes unidades disponibles</ng-container>
</ng-template>